/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
