<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav mode="over" ngClass.gt-sm="has-border">
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a
            mat-list-item
            routerLink="/latest"
            routerLinkActive="active"
            (click)="sidenav.close()"
          >
            <span>Latest</span>
          </a>
          <mat-divider></mat-divider>
          <a
            mat-list-item
            routerLink="/top"
            routerLinkActive="active"
            (click)="sidenav.close()"
          >
            <span>Top rated</span>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="mat-elevation-z6 navbar" color="primary">
        <div fxHide.gt-sm fxLayoutAlign="start center">
          <button
            class="menu-button"
            mat-icon-button
            (click)="sidenav.toggle()"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span class="brand">Nitro Cats</span>
        </div>
        <div fxHide.lt-md fxLayoutAlign="start center">
          <img class="logo" alt="nitro cat logo" src="/assets/cat.png" />
          <span class="brand">
            Nitro Cats
          </span>
          <button mat-button routerLink="/latest" routerLinkActive="active">
            <span>Latest</span>
          </button>
          <button mat-button routerLink="/top" routerLinkActive="active">
            <span>Top rated</span>
          </button>
          <button mat-button routerLink="/submit" routerLinkActive="active">
            <span>Submit</span>
          </button>
        </div>
        <span fxFlex></span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <button
    fxHide.gt-sm
    class="submit-cat-btn"
    mat-fab
    color="accent"
    routerLink="/submit"
  >
    +
  </button>
</div>
