:host {
  display: block;
  padding: 10px;
}

.sizer,
ng-masonry-grid-item {
  width: 100%;

  @media screen and (min-width: 600px) and (max-width: 959px) {
    width: 50%;
  }

  @media screen and (min-width: 960px) {
    width: 33.3%;
  }
}
